{% extends 'layouts/baseEmpresa.html' %}

{% block title %}
    PAGINA DE LA EMPRESA
{% endblock %}

{% block content %}
<div class="main-content">
    <header>
        <div class="user-wrapper">
            <img src="" alt="" width="40px" height="40px">
            <div>
                <h5><div class="main-content">
                    <header>
                        <h2>
                            <label for="nav-toogle">
                                <span class="las la-bars"></span>
                            </label>
                            ADD CATEGORY
                        </h2>
                        <div class="search-wrapper">
                            <span class="las la-search"></span>
                            <input type="search" placeholder="Search">
                        </div>
                        <div class="user-wrapper">
                            <img src="{{(datos[1])}}" alt="" width="40px" height="40px">
                            <div>
                                <h5>{{(datos[2])}}</h5>
                                <small>Super admin</small>
                            </div>
                        </div>
                    </header>
                </div></h5>
            </div>
        </div>
    </header>
    <main>
        <div class="center">
            <form action="{{ url_for('crearCategoria') }}" method="POST">
                <h2 style="width: 28%; padding-top: 2rem">Add Category</h2>
                <div class="txt_field">
                    <input type="text" required id="nombreCategoria" name="nombreCategoria">
                    <span></span>
                    <label>Name Category</label>
                </div>
                {% with messages = get_flashed_messages(category_filter=['error']) %}
                {% if messages %}
                  <div class="alert" role="alert" style="text-align: left; color: red; font-size: 14px;">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                    </div>
                {% endif %}
                {% endwith %}
                <input type="submit" value="submit">
            </form>
        </div>
    </main>
</div>

{% endblock %}