* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #ffffff;
	font-family: 'Lato', sans-serif;
}

section{
    width: 100%;
    max-width: 1366px!important;
    margin: auto;
    padding: 0 30px;
}
.header{
    align-items: center;
    display: flex;
    height: 75px;
    justify-items: center;
}
.header a{
    flex: 1 1;
    cursor: pointer;
    background: transparent;
}
.btn-icon { 
    padding: 0;
    width: 40px;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 3px 5px;
    border-radius: 100%;
    outline: none;
    transition: .1s;
    position: relative;
    overflow: hidden;
    height: 40px;
}
.header:before {
    content: "";
    position: absolute;
    width: 100%;
    box-shadow: inset 0 -1px 0 #dcdcdc;
    height: 50px;
    margin: 75px 0;
    left: 0;
}
.paid-content{
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}
.paid-content h1{
    color: #3e3e3e;
    font-size: 2.125rem;
    margin: 2px 0 40px;
}
.payment small{
	border-bottom: 1.5px solid #ea1d2c;
	text-transform: uppercase;
	color: #ea1d2c;
	font-weight: 400;
    font-size: .875rem;
    line-height: 1.25em;
}
.contenedor {
	width: 100%;
	max-width: 1000px;
	padding: 40px 0px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* ---------- Estilos Generales de las Tarjetas ----------*/
.tarjeta {
	width: 100%;
	max-width: 550px;
	position: relative;
	color: #fff;
	transition: .3s ease all;
	transform: rotateY(0deg);
	transform-style: preserve-3d;
	cursor: pointer;
	z-index: 2;
}

.tarjeta.active {
	transform: rotateY(180deg);
}

.tarjeta > div {
	padding: 30px;
	border-radius: 15px;
	min-height: 315px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 10px 10px 0 rgba(90,116,148,0.3);
}

/* ---------- Tarjeta Delantera ----------*/

.tarjeta .delantera {
	width: 100%;
	background: url(/static/resources/bg-tarjeta/bg-tarjeta-02.jpg);
	background-size: cover;
}

.delantera .logo-marca {
	text-align: right;
	min-height: 50px;
}

.delantera .logo-marca img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	max-width: 80px;
}

.delantera .chip {
	width: 100%;
	max-width: 50px;
	margin-bottom: 20px;
}

.delantera .grupo .label {
	font-size: 16px;
	color: #7d8994;
	margin-bottom: 5px;
}

.delantera .grupo .numero,
.delantera .grupo .nombre,
.delantera .grupo .expiracion {
	color: #fff;
	font-size: 22px;
	text-transform: uppercase;
}

.delantera .flexbox {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

/* ---------- Tarjeta Trasera ----------*/
.trasera {
	background: url(/static/resources/bg-tarjeta/bg-tarjeta-02.jpg);
	background-size: cover;
	position: absolute;
	top: 0;
	transform: rotateY(180deg);
	backface-visibility: hidden;
}

.trasera .barra-magnetica {
	height: 40px;
	background: #000;
	width: 100%;
	position: absolute;
	top: 30px;
	left: 0;
}

.trasera .datos {
	margin-top: 60px;
	display: flex;
	justify-content: space-between;
}

.trasera .datos p {
	margin-bottom: 5px;
}

.trasera .datos #firma {
	width: 70%;
}

.trasera .datos #firma .firma {
	height: 40px;
	background: repeating-linear-gradient(skyblue 0, skyblue 5px, orange 5px, orange 10px);
}

.trasera .datos #firma .firma p {
	line-height: 40px;
	font-family: 'Liu Jian Mao Cao', cursive;
	color: #000;
	font-size: 30px;
	padding: 0 10px;
	text-transform: capitalize;
}

.trasera .datos #ccv {
	width: 20%;
}

.trasera .datos #ccv .ccv {
	background: #fff;
	height: 40px;
	color: #000;
	padding: 10px;
	text-align: center;
}

.trasera .leyenda {
	font-size: 14px;
	line-height: 24px;
}

.trasera .link-banco {
	font-size: 14px;
	color: #fff;
}

/* ---------- Contenedor Boton ----------*/
.contenedor-btn .btn-abrir-formulario {
	width: 50px;
	height: 50px;
	font-size: 20px;
	line-height: 20px;
	background: #2364d2;
	color: #fff;
	position: relative;
	top: -25px;
	z-index: 3;
	border-radius: 100%;
	box-shadow: -5px 4px 8px rgba(24,56,182,0.4);
	padding: 5px;
	transition: all .2s ease;
	border: none;
	cursor: pointer;
}

.contenedor-btn .btn-abrir-formulario:hover {
	background: #1850b1;
}

.contenedor-btn .btn-abrir-formulario.active {
	transform: rotate(45deg);
}

/* ---------- Formulario Tarjeta ----------*/
.formulario-tarjeta {
	background: #fff;
	width: 100%;
	max-width: 700px;
	padding: 150px 30px 30px 30px;
	border-radius: 10px;
	position: relative;
	top: -150px;
	z-index: 1;
	clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	transition: clip-path .3s ease-out;
}

.formulario-tarjeta.active {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.formulario-tarjeta label {
	display: block;
	color: #7d8994;
	margin-bottom: 5px;
	font-size: 16px;
}

.formulario-tarjeta input,
.formulario-tarjeta select,
.btn-enviar {
	border: 2px solid #CED6E0;
	font-size: 18px;
	height: 50px;
	width: 100%;
	padding: 5px 12px;
	transition: .3s ease all;
	border-radius: 5px;
}

.formulario-tarjeta input:hover,
.formulario-tarjeta select:hover {
	border: 2px solid #93BDED;
}

.formulario-tarjeta input:focus,
.formulario-tarjeta select:focus {
	outline: rgb(4,4,4);
	box-shadow: 1px 7px 10px -5px rgba(90,116,148,0.3);
}

.formulario-tarjeta input {
	margin-bottom: 20px;
	text-transform: uppercase;
}

.formulario-tarjeta .flexbox {
	display: flex;
	justify-content: space-between;
}

.formulario-tarjeta .expira {
	width: 100%;
}

.formulario-tarjeta .ccv {
	min-width: 100px;
}

.formulario-tarjeta .grupo-select {
	width: 100%;
	margin-right: 15px;
	position: relative;
}

.formulario-tarjeta select {
	-webkit-appearance: none;
}

.formulario-tarjeta .grupo-select i {
	position: absolute;
	color: #CED6E0;
	top: 18px;
	right: 15px;
	transition: .3s ease all;
}

.formulario-tarjeta .grupo-select:hover i {
	color: #93bfed;
}

.formulario-tarjeta .btn-enviar {
	border: none;
	padding: 10px;
	font-size: 22px;
	color: #fff;
	background: #2364d2;
	box-shadow: 2px 2px 10px 0px rgba(0,85,212,0.4);
	cursor: pointer;
}

.formulario-tarjeta .btn-enviar:hover {
	background: #1850b1;
}
.cart{
	display: flex;
    flex-flow: column nowrap;
    position: relative;
    width: 420px;
    background-color: #fff;
    color: #3f3e3e;
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
    border: 1px solid #f7f7f7;
    margin: 0 0 10px;
    align-self: start;
}
.cart-pay{
	position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.restaurant-cart-header {
    margin: 15px 35px;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.restaurant-cart-header-pretitle {
    color: #717171;
    font-weight: 300;
    font-size: .875rem;
    width: 100%;
}
.restaurant-cart-header-title {
    margin: 8px 0 0;
    font-size: 1.125rem;
    font-weight: 500;
    color: inherit;
    text-decoration: none;
    display: inline-block;
    max-width: 70%;
}
.restaurant-cart-header-link {
	text-decoration: none;
    color: #ea1d2c;
    height: 25px;
    padding: 0;
    margin-top: 8px;
    font-size: .875rem;
    font-weight: 400;
}
.restaurant-cart-group-name{
    padding: 18px 30px;
    margin: 0;
    font-weight: 500;
    font-size: .875rem;
}
.restaurant-cart-item{
	border-top: 1px solid #dcdcdc;
    margin: 0 30px;
}
.restaurant-cart-item-description{
	display: flex;
    flex-flow: row nowrap;
	margin: 0.5em 0;
    line-height: 1.4;
    grid-gap: 50px;
    gap: 50px;
}
.restaurant-cart-item-description>:last-child {
    min-width: 80px;
    text-align: right;
}
.restaurant-cart-item-description>* {
    flex-grow: 1;
}
.restaurant-cart-item-garnish{
	font-size: .875rem;
    font-weight: 300;
    color: #717171;
    margin: 0 30px;
    line-height: 1.3;
}
.restaurant-cart-item-buttons-wrapper{
	display: flex;
    align-items: center;
	padding-top: 10px;
    margin-bottom: 10px;
}
.restaurant-cart-item-button{
	color: #ea1d2c;
	background: transparent;
	height: 100%;
	margin: 0 15px;
    font-size: .875rem;
    padding: 0;
    width: 70px;
    margin-right: 10px;
	cursor: pointer;
	border:none;
}
.restaurant-cart-item-button:hover{
	color:#f50010;
}
.btn--delete{
	color: #a6a29f !important;
}
.restaurant-cart-footer .restaurant-cart-footer-info {
    margin: 0 45px;
    padding: 20px 0;
}
.restaurant-cart-footer-total {
    font-weight: 500;
	color: #3f3e3e !important;
}
.restaurant-cart-footer-info>* {
    height: 32px;
    line-height: 32px;
    font-weight: 300;
    align-items: center;
	color: #717171;
}
.restaurant-cart-footer-info {
    border-top: 1px solid #dcdcdc;
    margin: 0 45px 100px;
    padding: 20px 0;
}
.restaurant-cart-justify{
    display: flex;
    flex-flow: row nowrap;
}
.restaurant-cart-justify>* {
    flex-grow: 1;
}
.restaurant-cart-justify>:last-child {
    min-width: 80px;
    text-align: right;
}
.restaurant-cart-footer-total .restaurant-cart-footer-info-description {
    color: #3f3e3e;
    font-size: 1.125rem;
}

.restaurant-cart-footer-info-description {
    color: #717171;
    font-size: .875rem;
}
@media only screen and (min-width: 960px){
    .paid-content {
        margin: 25px 98px 0;
    }
	.restaurant-cart-group-name {
		padding: 0 30px 10px;
	}
}
@media only screen and (max-width: 959px){
    .paid-content {
		flex-wrap: wrap;
    }
	.cart{
		transform: translateY(-10rem)
	}
}

