* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: Lato, sans-serif;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    -webkit-font-smoothing: antialiased;
    height: 100%;
}
#root {
    height: 100%;
}
.Layout{
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.Header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    z-index: var(--z-index-header);
    padding: 0px 1.25rem;
    height: 4rem;
}
.LogoButton {
    flex: 0 1 8rem;
    min-width: 7.1875rem;
}

.Logo {
    max-width: 70%;
    margin: 30px;
}
.ButtonsGroup-ButtonHolder{
    --button-inline-margin: 0.3125rem;
    display: inline-flex;
}
.StyledButton-left {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 7.5rem;
    border: 0px;
    cursor: pointer;
    text-decoration: none;
    padding: 0px 1rem;
    color: rgb(255 252 252);
    height: auto;
}
.StyledButton-left:hover{
    color: rgb(219, 218, 218);
}
.StyledButton-right {
    position: relative;
    display: flex;
    background: rgba(0, 0, 0, 0.301);
    justify-content: center;
    align-items: center;
    min-width: 7.5rem;
    height: 2.5rem;
    text-decoration: none;
    padding: 0px 1rem;
    color: rgb(255 252 252);
    margin: 30px;
    transition: 1s;
    text-decoration: none;
    overflow: hidden;
    border-radius: 50px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
}
.StyledButton-right:hover
{
    background: #054e52;
    box-shadow: 0px 20px 80px #054e52,
    0 0 30px #054e52,
    0 0 60px #054e52,
    0 0 100px #054e52;
}

.StyledButton-right::before
{
    content:"";
    position: absolute;
    width: 20px;
    height:400%;
    background: var(--clr);
    animation: animate 4s linear infinite;
    transition: 1s;
}
.StyledButton-right:hover::before
{
    width: 120%;
}

.CallToAction {
    text-transform: uppercase;
    font-weight: 800;
    transition: color 0.2s ease 0s;
    cursor: pointer;
    font-size: 0.875rem;
    line-height: 1.125rem;
    opacity: 0.5s;
}
.HeroBlock{

    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
}
.ImageWrapper{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.Image{
    display: block;
    width: 100%;
    height: 608px;
    object-fit: cover;
}
.TitleWrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    padding-top: 10.25rem;
    margin-bottom: 2.5rem;
    max-width: 35rem;
}
.Title-Heading {
    color: #fff;
    margin-bottom: 1.5rem;
    font-weight: 800;
    text-rendering: optimizelegibility;
    font-size: 2.225rem;
    padding-top: 1.5rem;
}
.StyledButton{
    padding: 0px 1rem;
    height: 2.5rem;
    align-items: center;
    background-color: rgb(255 102 0);
    z-index: 2;
}
@media (min-width: 35.5em){

    .ButtonsGroup-ButtonHolder:first-of-type {
        display: inline-flex;
    }
    .ButtonsGroup-ButtonHolder{
        display: unset;
    }
    .StyledButton{
        display: inline-flex;
    }
}
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}
.StyledButton-right::after
{
    content:"";
    position: absolute;
    inset: 2px;
    background: #36150f;
    transition: 0.5s;
     border-radius: 50px;
}

.StyledButton-right span{
    position: relative;
    z-index: 1;
    color: aliceblue;
    opacity: 0.5;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8em;
    transition: 0.5s;
}
.StyledButton-right:hover span{
    opacity: 1;
}
