{% extends 'layouts/base.html' %}

{% block title %}
landing
{% endblock %}

{% block content %}
<link rel="stylesheet" href="static/css/margin.css">
<div id="root">
        <div class="Layout">
                <header class="Header">
                        <a class="LogoButton" href="#">
                                <img src="static/resources/preloader_logo.png" alt="" data-t="header-logo" class="Logo">
                        </a>
                        <div class="ButtonsGroup-ButtonHolder">
                                <a class="StyledButton-left" data-t="header-up-sign-in" href="{{ url_for('login') }}">
                                        <span class="CallToAction">acceder</span>
                                </a>
                                <a class="StyledButton-right" href="{{ url_for('registrar_empresa') }}" style="--clr: #3cff00;--i:0;">
                                        <span class="CallToAction">registrarse</span>
                                </a>
                        </div>
                </header>
                <div class="StackedLayout">
                        <div class="ContentBlock">
                                <section data-t="hero-block-section" class="HeroBlock">
                                        <div class="ImageWrapper">
                                                <img src="static/resources/bg2.png" alt="background" class="Image">
                                        </div>
                                        <div class="TitleWrapper">
                                                <h1 type="heavy" class="Title-Heading">Pedir comida nunca fue tan facil, que esperas!</h1>
                                                <div class="StyledButton">
                                                        <a href="{{ url_for('empresas')}}" class="StyledButton-left">
                                                                <span class="CallToAction">ver restaurantes</span>
                                                        </a>
                                                </div>
                                                <div class="loaderWrapper">
                                                        <span style="--i:1;"></span>
                                                        <span style="--i:2;"></span>
                                                        <span style="--i:3;"></span>
                                                        <span style="--i:4;"></span>
                                                        <span style="--i:5;"></span>
                                                        <span style="--i:6;"></span>
                                                        <span style="--i:7;"></span>
                                                        <span style="--i:8;"></span>
                                                        <span style="--i:9;"></span>
                                                        <span style="--i:10;"></span>
                                                </div>
                                        </div>
                                </section>
                        </div>
                </div>
        </div>
</div>
{% endblock %}