{% extends 'layouts/baseEmpresa.html' %}

{% block title %}
    PAGINA DE LA EMPRESA
{% endblock %}

{% block content %}
<div class="main-content">
    <main>
        <div class="conten-header" style="border-bottom: 1.4px solid #6d6d6d;">
            <h5 style="padding: 0 0 20px">Account Settings</h5>
        </div>
        <div class="tools-content">
            <div class="user-wrapper" style="padding: 20px 20px 0;">
                <div class="user-wrapper-img">
                    <img src="{{(session['user_id'][1])}}" alt="" width="120px" height="120px">
                    <div class="user-wrapper-img-edit">
                        <label for="img"><img src="https://img.icons8.com/ios-glyphs/30/ffffff/camera--v1.png" alt=""></label>
                        <input type="file" name="img" id="img">
                    </div>
                </div>
                <div>
                    <h1>{{(session['user_id'][2])}}</h1>
                    <small>{{(session['user_id'][5])}}</small>
                </div>
            </div>
            <div class="setting-tools-content">
                <div class="stt-tools-item">
                    <input type="text" id="name" name="name" value="{{(session['user_id'][2])}}">
                    <span></span>
                    <label>Name</label>
                </div>
                <div class="stt-tools-item">
                    <input type="number" id="phone" name="phone" value="{{(session['user_id'][3])}}">
                    <span></span>
                    <label>Phone</label>
                </div>
                <div class="stt-tools-item">
                    <input type="text" id="address" name="address" value="{{(session['user_id'][4])}}">
                    <span></span>
                    <label>Addres</label>
                </div>
                <div class="stt-tools-item">
                    <input type="text" id="description" name="description" value="{{(session['user_id'][7])}}">
                    <span></span>
                    <label>Description</label>
                </div>
                <div class="stt-tools-item">
                    <button type="button">Editar
                    </button>
                    <input type="text" readonly id="password" name="password" value="" style="cursor: pointer; ">
                    <span></span>
                    <label>Changue Password
                    </label>
                </div>
            </div>
            <input type="submit" value="submit" style="margin-left: 25px">
        </div>
    </main>
</div>
{% endblock %}