{% extends 'layouts/baseEmpresa.html' %}

{% block title %}
    PAGINA DE LA EMPRESA
{% endblock %}

{% block content %}
<div class="main-content">
    <header>
        <div class="user-wrapper">
            <img src="" alt="" width="40px" height="40px">
            <div>
                <h5><div class="main-content">
                    <header>
                        <h2>
                            <label for="nav-toogle">
                                <span class="las la-bars"></span>
                            </label>
                            HOME
                        </h2>
                        <div class="search-wrapper">
                            <span class="las la-search"></span>
                            <input type="search" placeholder="Search">
                        </div>
                        <div class="user-wrapper">
                            <img src="{{(datos[1])}}" alt="" width="40px" height="40px">
                            <div>
                                <h5>{{(datos[2])}}</h5>
                                <small>Super admin</small>
                            </div>
                        </div>
                    </header>
                </div></h5>
            </div>
        </div>
    </header>
    <main>
        <div class="cards">
            <div class="card-single">
                <div>
                    <h1>12</h1>
                    <span>Customers</span>
                </div>
                <div>
                    <span class="las la-users"></span>
                </div>
            </div>
            <div class="card-single">
                <div>
                    <h1>{{productos}}</h1>
                    <span>Products</span>
                </div>
                <div>
                    <span class="las la-pepper-hot"></span>
                </div>
            </div>
            <div class="card-single">
                <div>
                    <h1>20</h1>
                    <span>Orders</span>
                </div>
                <div>
                    <span class="las la-shopping-bag"></span>
                </div>
            </div>
            <div class="card-single">
                <div>
                    <h1>$23k</h1>
                    <span>Income</span>
                </div>
                <div>
                    <span class="las la-coins"></span>
                </div>
            </div>
        </div>

        <div class="recent-grid">
            <div class="projects">
                <div class="card">
                    <div class="card-header" style="background-color: #fff;">
                        <h3>Recent Menu</h3>
                        <button>See all <span class="las la-arrow-right"></span></button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table width="100%">
                                <thead>
                                    <tr>
                                        <td>ID</td>
                                        <td>Image</td>
                                        <td>Name</td>
                                        <td>Category</td>
                                        <td>Price</td>
                                        <td>Avaliable?</td>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="customers">

            </div>
        </div>
    </main>
</div>
{% endblock %}