<!DOCTYPE html>
<!-- Designined by CodingLab - youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Register </title>
    <link rel="stylesheet" href="/static/css/register.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Registration</div>
    <div class="content">
      <form action="{{ url_for('registrar_empresa') }}" enctype="multipart/form-data" method="POST">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Name Of Your Company</span>
            <input type="text" required placeholder="Enter your name company" id="nombre-empresa" name="nombre-empresa">
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="number" required id="contacto" name="contacto" value="{{ contacto }}" />
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" id="email" name="email"/>
          </div>
          <div class="input-box">
            <span class="details">Address</span>
            <input type="text" id="direccion" name="direccion" value="{{ direccion }}"/>
          </div>
          <div class="input-box">
            <span class="details">Descripcion</span>
            <input type="text" id="descripcion" name="descripcion" value="{{ descripcion }}"/>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="password" placeholder="Min 8 max 15 characteres" id="password" name="password" class="form-control" />
          </div>
          <div class="input-box">
            <label class="select-img" for="imagen">Upload Image</label>
            <input type="file" id="imagen" name="imagen" class="form-control" style="display: none;" />
            <div class="img-preview" id="imagePreview">

            </div>
          </div>
          
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input type="password" placeholder="Confirm your password" required>
          </div>
        </div>
        {% with messages = get_flashed_messages(category_filter=['error']) %}
        {% if messages %}
        <div class="alert" role="alert" style="text-align: center; padding: 0.5rem 2rem ;color: red; font-size: 14px; border: 1.5px solid rgba(42, 38, 38, 0.078)">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            </div>
        {% endif %}
        {% endwith %}
        <div class="button">
          <a href="{{ url_for('index') }}" class="btn">Volver</a>
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript">
    (function () {
        function filePreview(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
              $('#imagePreview').html("<img src ='"+e.target.result+"' />");
            }

            reader.readAsDataURL(input.files[0]);
          }
        }

        $('#imagen').change(function () {
          filePreview(this);
        });
      })();
  </script>
</body>
</html>
